@model IEnumerable<Beltek.AhsenAslan.FinalProject.UI.Models.Price>

@{
    ViewData["Title"] = "Index";
}

<h1>Fiyat Listesi</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Yeni</a>
</p>
<table class="table table-responsive-lg table-responsive table-success">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdateDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateDate)
            </td>
            <td>
              <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success">Düzenle</a> |
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-success">Görüntüle</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-success">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
